<mjml>
    <mj-head>
        <mj-attributes>
            <mj-table font-family="Arial" />
            <mj-text font-family="Arial"
                     color="#3f4450" />
        </mj-attributes>
        <mj-title>Griffin-American Healthcare REIT IV</mj-title>
        <mj-style>
            .link-nostyle {
                text-decoration: none !important;
            }

            @media screen and (max-width: 599px) {
            td[class="header-text"] {
                height: 60px !important;
                padding: 0 0 20px 0 !important;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body>
        <mj-container background-color="#777777">
            <mj-section padding="0">
                <mj-column>
                    <mj-text color="#ffffff" font-size="10px" line-height="14px" align="center">
                        Visit <a class="mktNoTrack link-nostyle" href="https://www.griffincapital.com" style="color:#ffffff !important;"><font color="#ffffff">www.griffincapital.com</font></a> to learn more, or<br>
                        <a class="mktNoTrack link-nostyle" href="{{system.viewAsWebpageLink}}" style="color:#ffffff !important;"><font color="#ffffff">click here</font></a> to view this message in your browser.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-wrapper background-color="#ffffff"
                        padding="35px">
              <mj-section padding="0">
                <mj-group>
                </mj-group>
              </mj-section>
                <mj-section padding="0">
                    <mj-column>
                        <mj-image width="200"
                                  padding="0"
                                  align="left"
                                  src="https://griffincapital.bitbucket.io/images/logos/gahr4.png" href="https://www.griffincapital.com/griffin-american-healthcare-reit-iv" />
                        <mj-text padding="35 0 0 0"
                                 color="#3f4450"
                                 font-weight="400"
                                 line-height="16px">
                            June 19, 2017
                        </mj-text>
                        <mj-text padding="17 0 0 0"
                                 color="#3f4450"
                                 font-weight="700"
                                 line-height="16px">
                            Attention Financial Advisor,
                        </mj-text>
                        <mj-text padding="17 0 0 0"
                                 color="#3f4450"
                                 line-height="16px">
                            We are pleased to inform you that the <strong>Griffin-American Healthcare REIT IV</strong> remains approved
                            and continues to be available on the <strong>LPL platform</strong>. You may find it by clicking on <strong>ClientWorks</strong> via the following path:
                        </mj-text>
                        <mj-list padding="0 15 0 20"
                                 color="#3f4450"
                                 line-height="22px">
                            <li>Type ‘Product Platform Compensation’ in the search bar</li>
                            <li>‘Product, Platform and Compensation Changes’ will be the second option – CLICK</li>
                            <li>Various brokerage product types will be reflected in this area. Navigate down toward
                            any AI product type (hedge funds, REITs, BDCs, etc.) and click on ‘Review a full list of
                            products available at this time’</li>
                            <li>This is the dynamic list that includes all AI product types and reflects Yes/No for
                            Brokerage/Advisory availability</li>
                        </mj-list>
                        <mj-text padding="0 0 0 0"
                                 color="#3f4450"
                                 line-height="16px">
                            Should you have any further questions, please do not hesitate to contact the Griffin Capital
                            Securities Sales Desk at (866) 606-5901.
                        </mj-text>
                        <mj-text padding="17 0 0 0"
                                 color="#3f4450"
                                 line-height="16px">
                            As you know, we value our long-standing relationship with you and thank you for your
                            continued support.
                        </mj-text>
                     </mj-column>
                </mj-section>
            </mj-wrapper>
            <mj-section padding="0">
                <mj-column>
                    <mj-text color="#ffffff" font-size="10px" line-height="14px" align="center">
                        &copy; 2017 Griffin-American Healthcare REIT IV, Inc. All Rights Reserved.
                        <br><br>
                        18191 Von Karman Ave, Suite 300, Irvine, CA 92612.
                        <br><br>
                        <a class="mktNoTrack link-nostyle" href="{{system.unsubscribeLink}}" style="color:#ffffff !important;"><font color="#ffffff">Unsubscribe</font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>