<mjml>
    <mj-head>
        <mj-attributes>
            <mj-table font-family="Arial" />
            <mj-text font-family="Arial" color="#3f4450" />
        </mj-attributes>
        <mj-title>Griffin Capital Securities Monthly Update</mj-title>
        <mj-style>
            @media screen and (max-width: 599px) {
                *[class="mobile-center"] {
                    text-align: center !important;
                    display: block !important;
                }

                div.mj-column-px-180.outlook-group-fix {
                    width: 100%!important;
                }
            }

            @media only screen and (min-width: 480px) and (max-width: 599px) {
                div.mj-column-px-410 {
                    width: 480px!important;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body>
        <mj-container background-color="#888888">
            <mj-section padding="0">
                <mj-column>
                    <mj-text align="center"
                             padding="10 0"
                             font-size="10px"
                             line-height="12px"
                             color="#ffffff">Visit <a href="https://www.griffincapital.com" style="color:#ffffff; text-decoration: none;">www.griffincapital.com</a> to learn more,
                        or
                        <br>
                        <a href="{{system.viewAsWebpageLink}}" style="color:#ffffff; text-decoration: none;">click here</a>
                        to view this message in your browser.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-wrapper padding="5" background-color="#ffffff">
                <mj-section background-color="#3f4450" padding="10">
                    <mj-column width="120">
                        <mj-image src="https://griffincapital.bitbucket.io/images/logos/gcs.png"
                                  href="https://www.griffincapital.com/broker-dealers/"
                                  width="120px"
                                  padding="0" />
                    </mj-column>
                    <mj-column width="450">
                        <mj-text padding="7 0 0 0" align="right" color="#ffffff" font-size="20px">
                            <span class="mobile-center">FOR DUE DILIGENCE USE ONLY</span>
                        </mj-text>
                        <mj-text padding="0" align="right" color="#ffffff" font-size="16px" font-weight="700">
                            <span class="mobile-center">June 23, 2017</span>
                        </mj-text>
                    </mj-column>
                </mj-section>
                <mj-section padding="0" background-color="#ff6700">
                    <mj-column>
                        <mj-text align="center" padding="15" color="#ffffff" font-size="18px" font-weight="700">
                            GRIFFIN CAPITAL SECURITIES MONTHLY UPDATE
                        </mj-text>
                    </mj-column>
                </mj-section>
                <mj-section padding="5 0">
                    <mj-column width="410px">
                        <mj-text padding="15 20 10 20" color="#3f4450" line-height="16px">
                            Attention Valued Partner:
                            <br><br>
                            Griffin Capital is dedicated to providing all relevant materials to our valued partners
                            in a timely manner. This month’s marketing activity is referenced below. If you
                            are unfamiliar with any of the strategies mentioned below and would like more
                            information as to how they may fit into your allocation strategy, please contact
                            Stephanie Brown at 617.548.4584 or <a style="text-decoration:none; color:#000000" href="mailto:Stephanie.Brown@griffincapital.com">Stephanie.Brown@griffincapital.com</a>.
                            <br><br>
                            As always, we value our relationship with you and thank you for your continued
                            support.
                            <br><br>
                            Please note that all marketing materials, including those provided below, must be
                            preceded or accompanied by a prospectus.
                        </mj-text>
                                                <mj-text padding="10 20 5 20" color="#ff6700" font-weight="700" line-height="16px">
                            OPEN OFFERINGS
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/girex-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#597f71">GRIFFIN INSTITUTIONAL ACCESS&trade; REAL ESTATE FUND</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 8 48">
                            <tr>
                                <td style="padding:0; color:#3f4450; font-size:12px; line-height:18px;">
                                    <a href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/forms-and-literature"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE
                                    </a> to view Prospectus
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Capital Raise (as of 5/31/2017): $1,732,220,491
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/news-and-filings/sec-filings" style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Access Flyer Updated.
                                    <a href="https://www.griffincapital.com/Documents/GIREX/Marketing%20Materials/Investor%20Kit/GIREX-AccessFlyer.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Expanded Property Gallery.
                                    <a href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/about/property-gallery"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Morningstar Performance Report and Summary as of 5/31/2017 are available.
                                    <br>
                                    <a href="https://www.griffincapital.com/Documents/GIREX/Marketing%20Materials/Investor%20Kit/RealEstateFund-MorningstarPerformance-May2017.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                    CLICK HERE</a> to view Performance Report
                                    <br>
                                    <a href="https://www.griffincapital.com/Documents/GIREX/Marketing%20Materials/Investor%20Kit/RealEstateFund-MorningstarPerformanceSummary-May2017.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                    CLICK HERE</a> to view Performance Summary
                                </td>
                            </tr>
                        </mj-table>
                        <mj-spacer height="10px" />
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/giacx-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#1a81c4">GRIFFIN INSTITUTIONAL ACCESS&trade; CREDIT FUND</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Capital Raise (as of 5/31/2017): $13,672,727
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-institutional-access-credit-fund/news-and-filings/sec-filings" style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings
                                </td>
                            </tr>
                        </mj-table>
                        <mj-spacer height="10px" />
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/gahr-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#0164a8">GRIFFIN-AMERICAN HEALTHCARE REIT IV</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 8 48">
                            <tr>
                                <td style="padding:0; color:#3f4450; font-size:12px; line-height:18px;">
                                    <a href="https://www.griffincapital.com/griffin-american-healthcare-reit-iv/forms-and-literature"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view Prospectus
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Capital Raise (as of 5/31/2017): $252,118,142
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-american-healthcare-reit-iv/news-and-sec-filings/sec-filings"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Investor Update Available.
                                    <a href="https://www.griffincapital.com/Documents/Healthcare%20REIT%20IV/Marketing%20Materials/Investor%20Kit/Property%20and%20Investor%20Forms/GAHR4-Q117-InvestorUpdate.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Q1 Results Reported.
                                    <a href="http://secureir.edgar-online.com/griffinhealthcare2/efxapi/EFX_dll/EDGARpro.dll?FetchFilingCONVPDF1?SessionID=RZb-qOj2-AatAwv&ID=12055993"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Acquires MOB in Athens.
                                    <a href="http://secureir.edgar-online.com/griffinhealthcare2/fetchFilingFrameset.aspx?FilingID=12088632&Type=HTML&filename=GRIFFINAMERICAN_HEALTHCARE_REIT_IV_INC_8K_20170524"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Acquires Senior Housing Portfolio in Greater St. Louis.
                                    <br>
                                    <a href="http://secureir.edgar-online.com/griffinhealthcare2/fetchFilingFrameset.aspx?FilingID=12094790&Type=HTML&filename=GRIFFINAMERICAN_HEALTHCARE_REIT_IV_INC_8K_20170526"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Brainshark Presentation Available for Investor Use.
                                    <br>
                                    <a href="https://app.brainshark.com/griffincapital/vu?pi=zGPz1sGU0zUxFBz0"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                        </mj-table>
                        <mj-text padding="20 20 0 20" color="#ff6700" font-weight="700" line-height="16px">
                            PRIVATE OFFERING
                        </mj-text>
                        <mj-text padding="0 20 5 20" color="#ff6700" font-weight="400" font-size="11px" line-height="14px">
                            Please reach out to your National Accounts Representative to learn more.
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/peco-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#1a81c4">PHILLIPS EDISON GROCERY CENTER REIT III</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-text padding="20 20 5 20" color="#ff6700" font-weight="700" line-height="16px">
                            CLOSED OFFERINGS
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/griffin-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#ff6700">GRIFFIN CAPITAL ESSENTIAL ASSET REIT</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-capital-essential-asset-reit/news-and-filings/sec-filings"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Annual Meeting Vote Letter Distributed.
                                    <br>
                                    <a href="http://secureir.edgar-online.com/griffincapital/fetchFilingFrameset.aspx?FilingID=12128453&Type=HTML"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Investor Update Available.
                                    <a href="https://www.griffincapital.com/Documents/Essential%20Asset%20REIT/Marketing%20Materials/Investor%20Kit/GCEAR-Q117InvestorUpdate.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Q1 Results Reported.
                                    <a href="http://secureir.edgar-online.com/griffincapital/fetchFilingFrameset.aspx?FilingID=12059802&Type=HTML"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view 10-Q.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Files Form S-3 Registration Statement to Continue Offering of
                                    Distribution Reinvestment Plan.
                                    <a href="http://secureir.edgar-online.com/griffincapital/fetchFilingFrameset.aspx?FilingID=12120912&Type=HTML"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view S-3.
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/griffin-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#ff6700">GRIFFIN CAPITAL ESSENTIAL ASSET REIT II</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-capital-essential-asset-reit-ii/news-and-filings/sec-filings"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Investor Update Available.
                                    <a href="https://www.griffincapital.com/Documents/Essential%20Asset%20REIT%20II/Marketing%20Materials/Investor%20Kit/Prospectus%20and%20Investor%20Forms/GCEAR2-Q117InvestorUpdate.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Q1 Results Reported.
                                    <a href="http://secureir.edgar-online.com/griffincapital2/fetchFilingFrameset.aspx?FilingID=12059707&Type=HTML"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Acquires MISO Property.
                                    <a href="http://secureir.edgar-online.com/griffincapital2/efxapi/EFX_dll/EDGARpro.dll?FetchFilingCONVPDF1?SessionID=jZb-qQNk8IuOJwv&ID=12075201"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/bdc-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#00609c">GRIFFIN-BENEFIT STREET PARTNERS BDC</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-benefit-street-partners-bdc/news-and-filings/sec-filings"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="10 20 10 20" font-size="20px" line-height="100%">
                            <tr>
                                <td width="18" valign="top">
                                    <img src="https://griffincapital.bitbucket.io/images/logos/gahr-bug.png" width="20" height="20" style="border:0; margin:0; padding:0; display:block;"/>
                                </td>
                                <td style="font-size:12px; font-weight:700; padding:0 0 0 8px">
                                    <font color="#0164a8">GRIFFIN-AMERICAN HEALTHCARE REIT III</font>
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 0 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="https://www.griffincapital.com/griffin-american-healthcare-reit-iii/news-and-sec-filings/sec-filings"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view SEC Filings
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Investor Update Available.
                                    <a href="https://www.griffincapital.com/Documents/Healthcare%20REIT%20III/Marketing%20Materials/Investor%20Kit/Prospectus%20and%20Investor%20Forms/GAHR3-Q117-InvestorUpdate.pdf"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Q1 Results Reported.
                                    <a href="http://secureir.edgar-online.com/griffinhealthcare/fetchFilingFrameset.aspx?FilingID=12086096&Type=HTML"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to view.
                                </td>
                            </tr>
                        </mj-table>
                        <mj-text padding="20 20 5 20" color="#ff6700" font-weight="700" line-height="16px">
                            NON-PRODUCT MATERIALS
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="10 20 10 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    Dr. Anderson on Fox Business News.
                                    <a href="https://www.griffincapital.com/news/market-commentary/goldilocks-growth-rates-to-continue-says-dr-anderson"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        <br>
                                        CLICK HERE</a> to view
                                </td>
                            </tr>
                        </mj-table>
                        <mj-text padding="10 20 5 20" color="#ff6700" font-weight="700" line-height="16px">
                            WEBINARS
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="20 20 10 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450; line-height: 14px;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px; font-weight:700; line-height:14px">
                                    Griffin-American Healthcare REIT IV: Investing in America’s
                                    Largest and Fastest-Growing Industry
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 10 64">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DATE: <strong>Tuesday, June 27, 2017</strong>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    TIME: 1:00 pm PT/4:00 pm ET
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DIAL-IN: 800.274.0251
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    CONFERENCE ID: 4176543
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    WEBINAR ID: 845-574-763
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="http://go.griffincapital.com/GAHR4-WBN-2017-06-27_LP-Registration.html"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to register
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="20 20 10 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450; line-height: 14px;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px; font-weight:700; line-height:14px">
                                    Griffin Institutional Access Credit Fund
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 10 64">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DATE: <strong>Wednesday, June 28, 2017</strong>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    TIME: 1:00 pm PT/4:00 pm ET
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DIAL-IN: 888.394.8218
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    CONFERENCE ID: 8194273
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    WEBINAR ID: 801236772
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href="http://go.griffincapital.com/GIACX-2017-06-28-Webinar_Registration.html"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to register
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="20 20 10 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450; line-height: 14px;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px; font-weight:700; line-height:14px">
                                    PECO III Due Diligence Webinar
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 10 64">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DATE: <strong>Wednesday, July 12, 2017</strong>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    TIME: 1:00 pm PT/4:00 pm ET
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    DIAL-IN: 866.548.4713
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    CONFERENCE ID: 3290683
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    WEBINAR ID: 347-440-531
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    <a href=" http://go.griffincapital.com/PECO-WBN-2017-07-12MarkAddy_LP-Registration.html"
                                       style="color: #3f4450; font-weight: bold; text-decoration: none;">
                                        CLICK HERE</a> to register
                                </td>
                            </tr>
                        </mj-table>
                        <mj-text padding="20 20 0 20" color="#ff6700" font-weight="700" line-height="16px">
                            EVENTS HOSTED BY GRIFFIN CAPITAL
                        </mj-text>
                        <mj-text padding="0 20 5 20" color="#ff6700" font-weight="400" font-size="11px" line-height="14px">
                            These events are by invitation only.
                        </mj-text>
                        <mj-divider border-width="1px" padding="0 20" border-color="#b8bcc7" />
                        <mj-table padding="20 20 10 48">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450; line-height: 14px;">
                                    &#8226;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px; font-weight:700; line-height:14px">
                                    Advisor Education Meeting &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                        </mj-table>
                        <mj-table padding="0 20 10 64">
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    WHEN: August 24-25, 2017
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" align="right" style="padding:0 8px 0 0; color:#3f4450;">
                                    &#9702;
                                </td>
                                <td valign="middle" style="color:#3f4450; font-size:12px;">
                                    WHERE: Griffin Capital Company, LLC Headquarters, El Segundo, CA
                                </td>
                            </tr>
                        </mj-table>
                    </mj-column>
                    <mj-column width="180px">
                        <mj-text padding="5 0"
                                 align="center"
                                 font-size="12px"
                                 font-weight="700"
                                 container-background-color="#3f4450"
                                 color="#ffffff">
                            RESOURCES
                        </mj-text>
                        <mj-text padding="15 0 10 0"
                                 align="center"
                                 font-size="12px"
                                 font-weight="700"
                                 container-background-color="#eeeeee"
                                 color="#3f4450">
                            DUE DILIGENCE PORTAL
                        </mj-text>
                        <mj-image padding="0 0 15 0"
                                  container-background-color="#eeeeee"
                                  width="36px"
                                  href="https://www.griffincapital.com/broker-dealers/due-diligence"
                                  src="https://griffincapital.bitbucket.io/images/icons/icon-gcs-portal.png" />
                        <mj-divider padding="0 5" border-width="2px" border-color="#ffffff" container-background-color="#eeeeee"></mj-divider>
                        <mj-text padding="15 0 10 0"
                                 align="center"
                                 font-size="12px"
                                 font-weight="700"
                                 container-background-color="#eeeeee"
                                 color="#3f4450">
                            NEWS
                        </mj-text>
                        <mj-image padding="0 0 15 0"
                                  container-background-color="#eeeeee"
                                  width="48px"
                                  href="https://www.griffincapital.com/news"
                                  src="https://griffincapital.bitbucket.io/images/icons/icon-gcs-news.png" />
                        <mj-divider padding="0 5" border-width="2px" border-color="#ffffff" container-background-color="#eeeeee"></mj-divider>
                        <mj-text padding="15 0 10 0"
                                 align="center"
                                 font-size="12px"
                                 font-weight="700"
                                 line-height="14px"
                                 container-background-color="#eeeeee"
                                 color="#3f4450">
                            INSTITUTIONAL ADVISORY CONSULTANT MAP
                        </mj-text>
                        <mj-image padding="0 0 15 0"
                                  container-background-color="#eeeeee"
                                  width="100px"
                                  href="https://www.griffincapital.com/Documents/GCS/GCS-RIATerritoryMap.pdf"
                                  src="https://griffincapital.bitbucket.io/images/gcs/ria-map-nobg.png" />
                        <mj-spacer height="5px"></mj-spacer>
                        <mj-text padding="10 0"
                                 align="center"
                                 font-size="12px"
                                 line-height="16px"
                                 font-weight="700"
                                 container-background-color="#3f4450"
                                 color="#ffffff">
                            SELECT A PRODUCT<br>BELOW &amp; LEARN MORE
                        </mj-text>
                        <mj-image padding="25 0 15 0"
                                  container-background-color="#eeeeee"
                                  width="100px"
                                  href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund"
                                  src="https://griffincapital.bitbucket.io/images/logos/girex.png" />
                        <mj-image padding="0 0 15 0"
                                  container-background-color="#eeeeee"
                                  width="100px"
                                  href="https://www.griffincapital.com/griffin-institutional-access-credit-fund"
                                  src="https://griffincapital.bitbucket.io/images/logos/giacx.png" />
                        <mj-image padding="0 0 25 0"
                                  container-background-color="#eeeeee"
                                  width="100px"
                                  href="https://www.griffincapital.com/griffin-american-healthcare-reit-iv"
                                  src="https://griffincapital.bitbucket.io/images/logos/gahr4.png" />
                    </mj-column>
                </mj-section>
                <mj-section padding="0">
                    <mj-column>
                        <mj-text align="center" container-background-color="#ff6700" padding="5" font-weight="700" font-size="14px">
                            <a href="https://www.griffincapital.com"
                               style="color: #ffffff; font-weight: bold; text-decoration: none;">
                                www.griffincapital.com
                            </a>
                        </mj-text>
                    </mj-column>
                </mj-section>
            </mj-wrapper>
            <mj-section padding="0 0 20 0">
                <mj-column>
                    <mj-text padding="15" color="#ffffff" line-height="13px" font-size="11px" align="justify">
                        <span style="font-size:16px; font-weight:700;"><i>FOR REGISTERED INVESTMENT ADVISOR USE ONLY</i></span>
                        <br><br>
                        <span style="font-weight:700">THIS IS NEITHER AN OFFER TO SELL NOR A SOLICITATION OF AN OFFER TO BUY THE SECURITIES DESCRIBED HEREIN. INVESTORS
                        SHOULD CAREFULLY CONSIDER THE INVESTMENT OBJECTIVES, RISKS, CHARGES, AND EXPENSES OF THE INVESTMENTS
                        LISTED HEREIN. THIS AND OTHER IMPORTANT INFORMATION ABOUT THESE INVESTMENTS IS CONTAINED IN EACH INVESTMENT
                        PROSPECTUS, WHICH CAN BE OBTAINED BY VISITING <a href="https://www.griffincapital.com" style="color: #ffffff; text-decoration: none;">WWW.GRIFFINCAPITAL.COM</a>.
                        A PROSPECTUS SHOULD BE READ CAREFULLY BEFORE INVESTING IN ANY PRODUCT.
                        <br><br>
                        ALL MARKETING MATERIALS MUST BE PRECEDED OR ACCOMPANIED BY A PROSPECTUS.</span>
                        <br><br>
                        Griffin Capital Securities, LLC is the dealer manager for Griffin-American Healthcare REIT IV and Phillips Edison Grocery Center REIT
                        III, Inc. offering and the exclusive wholesale marketing agent for the Griffin Institutional Access Real Estate Fund and Griffin Institutional
                        Access Credit Fund. ALPS Distributors, Inc. (1290 Broadway, Suite 1100, Denver, CO 80203, member FINRA) is the distributor of the Griffin
                        Institutional Access Real Estate Fund and Griffin Institutional Access Credit Fund. Griffin Capital Advisor, LLC and ALPS Distributors, Inc.
                        are not affiliated with each other.
                        <br><br>
                        &copy; 2017 Griffin Capital Securities, LLC, Member FINRA/SIPC
                        <br><br>
                        DDO-GCS936a(062117)&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;GCS-BD3226(0617)
                        <br><br>
                        <a href="{{system.unsubscribeLink}}"
                           style="color: #ffffff; text-decoration: none;">Unsubscribe</a>
                        |
                        <a href="{{system.forwardToFriendLink}}"
                           style="color: #ffffff; text-decoration: none;">Forward</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>