<mjml>
  <mj-head>
    <mj-attributes>
      <mj-table font-family="gotham, Arial" />
      <mj-button font-family="gotham, Arial" />
      <mj-text font-family="gotham, Arial" color="#3f4450" />
    </mj-attributes>
    <mj-title>Griffin Capital Securities</mj-title>
    <mj-style>
      @media screen {
      	@font-face {
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 100;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/light/Gotham-Light.woff) format('woff');
      	}
      	@font-face {
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 400;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/book/Gotham-Book.woff) format('woff');
      	}
      	@font-face {
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 700;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/bold/Gotham-Bold.woff) format('woff');
      	}
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-container background-color="#ffffff">
      <mj-section full-width="full-width" background-color="#ee7624" padding="0 10">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="16"
                   font-weight="700"
                   letter-spacing="2"
                   padding="20 0">
            GRIFFIN CAPITAL SECURITIES
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#3e5364"
                  full-width="full-width"
                  padding="0 0 0 0">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="30"
                   font-weight="700"
                   letter-spacing="4"
                   line-height="100%"
                   padding="60 20 0 20">
          YOU'RE INVITED TO A WEBINAR
          </mj-text>
          <mj-text align="center"
         color="#ffffff"
         font-size="16"
         font-weight="700"
         letter-spacing="2"
         line-height="100%"
         padding="50 0 0 0">
            {{my.eventDate}}<br><br>
            {{my.eventTime}}
          </mj-text>
          <mj-button href="{{my.registerURL}}"
                     font-size="14"
                     inner-padding="15 30 15 30"
                     padding="20 0 20 0"
                     font-weight="700"
                     background-color="#ee7624"
                     border="1px solid #ffffff"
                     border-radius="35">
                     <a style="text-decoration:none; color:#ffffff" href="{{my.registerURL}}">
                     REGISTER NOW</a>
          </mj-button>
          <mj-text align="justify"
                   color="#d4d8da"
                   font-size="18" 
                   font-weight="100"
                   letter-spacing="1"
                   line-height="1.7"
                   padding="30 30 30 30">
                    Are you prepared for the succession and transfer of ownership of your firm? Most
                    firms are not, which is the largest issue facing the industry.<br><br>
                    Succession planning is critical to the firm’s overall success and, if properly executed and managed, it
                    creates an effective process for recognizing, developing, and retaining top
                    leadership talent.<br><br>
                    In this session, Kelli Cruz will review the key components to
                    creating an effective framework to help your firm create a sustainable succession
                    plan. 
          </mj-text>
          <mj-text padding="0 0 20 0"
                   align="center"
                   color="#ffffff"
                   font-size="20"
                   font-weight="100"
                   letter-spacing="1">
                  HOSTED BY:
          </mj-text>
          <mj-image padding="0" width="250" src="https://griffincapital.bitbucket.io/images/gcs/kelli-cruz1.png"/>
        </mj-column>
      </mj-section>
      <mj-section full-width="full-width" padding="0">
        <mj-column>
          <mj-image padding="0" width="250" src="https://griffincapital.bitbucket.io/images/gcs/kelli-cruz2.png"/>
          <mj-text padding="20 0" align="center" color="#435363" font-weight="700" font-size="20px" line-height="20px">
          KELLI CRUZ</mj-text>
          <mj-text padding="0 20 30 20" align="center" color="#435363" font-size="16px" line-height="20px">
          Portfolio Manager
          <br>
          Cruz Consulting Services
          </mj-text>
        <mj-text align="center"
         color="#435363"
         font-size="16"
         font-weight="400"
         letter-spacing="4"
         line-height="100%"
         padding="10 10">
            WEBINAR INFORMATION:
          </mj-text>
        <mj-text align="center"
         color="#435363"
         font-size="16"
         font-weight="100"
         letter-spacing="4"
         line-height="150%"
         padding="20 10 35 10">
            <strong>Conference ID:</strong> {{my.conferenceID}}<br>
            <strong>Dial-In:</strong> {{my.webinarPhone}}<br>
            <strong>Webcast ID:</strong> {{my.webinarID}}<br>
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section full-width="full-width" padding="0">
        <mj-column>
          <mj-button href="{{my.addtoCalendar}}"
                     font-size="14"
                     inner-padding="15 30 15 30"
                     padding="0 20"
                     font-weight="700"
                     background-color="#ee7624"
                     border-radius="35">
                     <a style="text-decoration:none; color:#ffffff" href="{{my.addtoCalendar}}">
                     ADD TO CALENDAR</a>
          </mj-button>
          <mj-button href="{{my.joinURL}}"
                     font-size="14"
                     inner-padding="15 30 15 30"
                     padding="10 20"
                     font-weight="700"
                     background-color="#ffffff"
                     border="1px solid #ee7624"
                     border-radius="35">
                     <a style="text-decoration:none; color:#ee7624" href="{{my.joinURL}}">
                     CLICK HERE TO JOIN WEBINAR</a>
          </mj-button>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-text padding="20 20 30 20" 
                   align="left" 
                   color="#3e5364" 
                   font-size="16" 
                   line-height="2"
                   letter-spacing="1">
                   If you have any questions, please contact your dedicated Griffin Capital Securities advisory consultant at <strong>844-363-0214</strong>.
          </mj-text>
          <mj-text padding="20 20"
                   align="justify"
                   color="#435363"
                   font-size="16"
                   line-height="2"
                   font-weight="700">
            FOR FINANCIAL PROFESSIONAL USE ONLY. NOT FOR INVESTOR USE.<br>
            THIS IS NEITHER AN OFFER TO SELL NOR A SOLICITATION OF AN OFFER TO BUY THE SECURITIES DESCRIBED HEREIN. AN OFFERING IS MADE ONLY BY A PROSPECTUS. 
          </mj-text>
          <mj-image padding="0" width="120" href="https://www.griffincapital.com/advisors"
                    src="https://griffincapital.bitbucket.io/images/logos/gcs.png" />
          <mj-text padding="20 0"
                   align="center"
                   color="#435363"
                   font-size="11"
                   line-height="1.3"
                   font-weight="700">
            Securities offering through Griffin Capital Securities, LLC, Member FINRA/SIPC.<br/>
            18191 Von Karman Avenue, Suite 300, Irvine, CA 92612
          </mj-text>
          <mj-text padding="0 20 20 20"
                   align="justify"
                   color="#435363"
                   font-size="11"
                   line-height="1.7">
            {{my.complianceCodes}}
          </mj-text>
          <mj-divider padding="0 20" border-width="1" border-color="#5a7f71"></mj-divider>
          <mj-text padding="40 20"
                   align="center"
                   color="#435363"
                   font-size="10"
                   letter-spacing="1"
                   line-height="1.8">
            &copy; 2017 GRIFFIN CAPITAL SECURITIES, LLC. ALL RIGHTS RESERVED &nbsp; | &nbsp; <a href="{{system.unsubscribeLink}}" style="text-decoration: none !important;"><font color="#435363">UNSUBSCRIBE</font></a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>