<mjml>
    <mj-head>
        <mj-attributes>
            <mj-section padding="0" />
            <mj-table font-family="gotham, Arial" />
            <mj-button font-family="gotham, Arial" />
            <mj-text font-family="gotham, Arial"
                     padding="0"
                     color="#3f4450" />
        </mj-attributes>
        <mj-title>{{my.webinarTitle}} {{my.eventTitle}} Confirmation</mj-title>
        <mj-style>
            @media screen {
            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 100;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/light/Gotham-Light.woff) format('woff');
            }

            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 400;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/book/Gotham-Book.woff) format('woff');
            }

            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 700;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/bold/Gotham-Bold.woff) format('woff');
            }
            }
        </mj-style>
    </mj-head>
    <mj-body>
        <mj-container background-color="#ffffff">
            <mj-section full-width="full-width" background-color="#ee7624" padding="0">
                <mj-column>
                    <mj-text padding="20 15"
                             align="center"
                             color="#ffffff"
                             font-size="16px"
                             font-weight="700"
                             letter-spacing="2px">Griffin Capital Securities</mj-text>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column>
                  <mj-spacer height="60px" />
                  <mj-text padding="0 15"
                           font-size="20px"
                           font-weight="700">
                    {{my.eventType}} Reminder.
                    </mj-text>
                    <mj-divider padding="15" border-width="4px" border-color="#ee7624"></mj-divider>
                  <mj-text padding="20 15 0 15"
                        font-size="15px"
                        line-height="21px">
                 <strong>Dear {{lead.First Name:default=Sir/Madam}},</strong>
                 <br><br>
                 The <strong>{{my.webinarTitle}}</strong> {{my.eventTypeLowerCase}} will start promptly on <strong>{{my.eventDate}}</strong> at {{my.eventTime}}.
                 <br><br>
                 </mj-text>
                 </mj-column>
                 </mj-section>
                 <mj-section>
                 <mj-column>
                 <mj-image width="50" href="{{my.addtoCalendar}}" src="http://griffincapital.bitbucket.io/images/icons/icon-gcc-calendar.png"></mj-image>
                 <mj-text padding="0 15"
                          font-size="14px"
                          font-weight="700" 
                          color="#ee7624"
                          align="center">
                          <a href="{{my.addtoCalendar}}" style="color: #ee7624; text-decoration: none !important;">Add to Calendar</a></mj-text>
                 </mj-column>
                 <mj-column>
                 <mj-image width="50" href="{{my.webinarjoinURL}}" src="http://griffincapital.bitbucket.io/images/icons/icon-gcc-webinar.png"></mj-image>
                 <mj-text padding="0 15"
                          font-size="14px"
                          font-weight="700" 
                          color="#ee7624"
                          align="center">
                          <a href="{{my.webinarjoinURL}}" style="color: #ee7624; text-decoration: none !important;">Join {{my.eventType}}</a></mj-text>
                </mj-column>
                </mj-section>
                <mj-section>
                <mj-column>
                  <mj-text padding="20 15"
                        align="center"
                        font-size="14px"
                        line-height="22px">
                 Conference ID: <strong>{{my.conferenceID}}</strong><br>Dial-in: <strong>{{my.webinarPhone}}</strong><br>Webinar ID: <strong>{{my.webinarID}}</strong>
                  </mj-text>
                </mj-column>
            </mj-section>
                <mj-section>
                <mj-column>
                  <mj-text padding="20 15"
                        align="center"
                        font-size="16px"
                        line-height="26px">
                 For more information, please visit<br>
                 <a href="https://www.griffincapital.com" style="color: #3e5364; text-decoration: none !important;"><strong>www.griffincapital.com</strong></a>
                  </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#3e5364" full-width="full-width">
                <mj-column>
                  <mj-text padding="40 15"
                       align="center"
                       color="#dddddd"
                       font-size="14px"
                       line-height="26px">
                &copy; 2017 Griffin Capital Securities, LLC. Member of FINRA/SIPC. All rights reserved.<br>
                18191 Von Karman Ave., Suite 300, Irvine CA 92612.<br>
                <span style="font-size: 10px"><!--{{my.complianceCodes}}--></span><br>
                <a href="{{system.unsubscribeLink}}" style="color: #dddddd; text-decoration: none !important;">Unsubscribe</a>
                  </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>