<mjml>
  <mj-head>
    <mj-attributes>
      <mj-table font-family="gotham, Arial" />
      <mj-button font-family="gotham, Arial" />
      <mj-text font-family="gotham, Arial" color="#3f4450" />
    </mj-attributes>
    <mj-title>Griffin Institutional Access&trade; Credit Fund</mj-title>
    <mj-style>
      .link-nostyle{
      	text-decoration: none !important;
      }
      
      @media screen and (max-width: 599px){
      	td[class="header-text"]{
      		height: 60px !important;
      		padding: 0 0 20px 0 !important;
      	}
      }
      @media screen{
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 100;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/light/Gotham-Light.woff) format('woff');
      	}
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 400;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/book/Gotham-Book.woff) format('woff');
      	}
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 700;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/bold/Gotham-Bold.woff) format('woff');
      	}
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-container background-color="#ffffff">
      <mj-section background-color="#006496" full-width="full-width" padding="20 2.5%">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="16"
                   font-weight="700"
                   letter-spacing="2"
                   padding="0">
            GRIFFIN INSTITUTIONAL ACCESS&trade; CREDIT FUND
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#3e5364"
                  background-url="https://griffincapital.bitbucket.io/images/hero/griffin-mark-hero-gcs-bd-background.png "
                  background-repeat="no-repeat"
                  background-size="cover"
                  full-width="full-width"
                  padding="60">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="28"
                   font-weight="700"
                   letter-spacing="4"
                   line-height="1"
                   padding="0">
            SHAREHOLDER ANNOUNCEMENT
          </mj-text>
          </mj-column>
      </mj-section>
      <mj-section full-width="full-width" padding="0">
        <mj-column>
        <mj-text align="center"
         padding="30 2.5%"
         font-size="24"
         letter-spacing="4"
         color="#006496"
         line-height="1.35"
         font-weight="700">
          Quarterly Repurchase Offer
          </mj-text>
          <mj-text padding="30 5% 30 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="16" 
                   line-height="2"
                   letter-spacing="0.8">
            Griffin Institutional Access Credit Fund (the "Fund") has filed Form N-23c-3 with the Securities and Exchange Commission (SEC), which announces its quarterly repurchase offer for shareholders. Shareholders will receive a letter in the mail that explains the repurchase offer, and you may view a copy of the shareholder letter on the SEC website:
           </mj-text>
        </mj-column>
      </mj-section>
      <mj-section> 
        <mj-column>
       <mj-image src="https://griffincapital.bitbucket.io/images/icons/icon-giacx-news.png"
                  href="http://secureir.edgar-online.com/griffincreditfund/fetchFilingFrameset.aspx?FilingID=12155910&Type=HTML&filename=GRIFFIN_INSTITUTIONAL_ACCESS_CREDIT_FUND_N23C3A_20170630"
                  padding="0"
                  width="100"/>
      <mj-text padding="10 5% 15 5%" 
               align="center" 
               font-size="12" 
               line-height="1.5"
               letter-spacing="0.5">
              <a style="text-decoration:none; color:#006496" 
                href="http://secureir.edgar-online.com/griffincreditfund/fetchFilingFrameset.aspx?FilingID=12155910&Type=HTML&filename=GRIFFIN_INSTITUTIONAL_ACCESS_CREDIT_FUND_N23C3A_20170630">
              View the<br>Shareholder Letter</a>
           </mj-text>
        </mj-column>
       </mj-section>
       <mj-section full-width="full-width" padding="0">
        <mj-column>
          <mj-text padding="0 5% 10 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="16" 
                   line-height="2"
                   letter-spacing="0.8">
           Per the Investment Company Act of 1940, the Fund is required to provide written notification to all shareholders of record regarding these quarterly repurchase offers. Shareholders do not need to redeem shares, however if they choose to redeem shares the deadline is [00:00] pm ET on [MONTH DATE, YEAR]. The repurchase offer letter instructs them to contact their financial advisors to submit a redemption/repurchase request.<br><br>
           If you have any questions, please contact your dedicated Griffin Capital Securities sales consultant.
           </mj-text>
        </mj-column>
      </mj-section>
      <mj-section>
        <mj-column>
          <mj-button href="https://www.griffincapital.com/advisors"
                     font-size="14"
                     inner-padding="15 30"
                     padding="0 5%"
                     font-weight="700"
                     background-color="#006496"
                     align="center"
                     border-radius="35">
            <a style="text-decoration:none; color:#ffffff" href="https://www.griffincapital.com/advisors">FIND YOUR SALES CONSULTANT</a>
          </mj-button>
          <mj-divider padding="30 5% 30 5%" border-width="1" border-color="#5a7f71"></mj-divider>
           <mj-text padding="0 5%"
                   align="justify"
                   color="#435363"
                   font-size="16"
                   line-height="2"
                   letter-spacing="0.2"
                   font-weight="400">
            <strong>FOR FINANCIAL PROFESSIONAL USE ONLY. NOT FOR INVESTOR USE.<br><br>
            NOT FOR PUBLIC DISSEMINATION. THIS IS NEITHER AN OFFER TO SELL NOR A SOLICITATION OF AN OFFER TO BUY THE SECURITIES DESCRIBED HEREIN. AN OFFERING IS MADE ONLY BY THE PROSPECTUS. Investors should carefully consider the investment objectives, risks, charges and expenses of the Griffin Institutional Access Credit Fund. This and other important information about the Fund is contained in the prospectus, which can be obtained by visiting <a style="text-decoration:none; color:#000000" href="https://www.griffincapital.com">www.griffincapital.com</a>. The prospectus should be read carefully before investing.<br><br>
            Investing involves risk; Principal loss is possible.</strong>
          </mj-text>
          <mj-image padding="20 5% 0 5%" width="120" href="https://www.griffincapital.com/advisors"
                    src="https://griffincapital.bitbucket.io/images/logos/gcs.png" />
          <mj-text padding="20 0"
                   align="center"
                   color="#435363"
                   font-size="11"
                   line-height="1.3"
                   font-weight="700">
            Griffin Capital Securities, LLC<br/>
            18191 Von Karman Avenue, Suite 300<br/>
            Irvine, CA 92612
          </mj-text>
          <mj-text padding="0 5% 20 5%"
                   align="justify"
                   color="#435363"
                   font-size="11"
                   line-height="1.7">
            Griffin Capital Securities, LLC, Member FINRA/SIPC, is the exclusive wholesale marketing agent for the Griffin Institutional Access Credit Fund. ALPS Distributors, Inc. (1290 Broadway, Suite 1100 Denver, CO 80203) is the distributor of the Griffin Institutional Access Credit Fund. Griffin Capital and ALPS Distributors, Inc. are not affiliated.
            <br/><br/>
            BD-CR328 (070617) | GCC000145 | Exp. 06.30.18 | GIACX-BD3290 (0617)
          </mj-text>
          <mj-divider padding="0 5%" border-width="1" border-color="#5a7f71"></mj-divider>
          <mj-text padding="40 5%"
                   align="center"
                   color="#435363"
                   font-size="10"
                   letter-spacing="1"
                   line-height="1.8">
            &copy; 2017 GRIFFIN CAPITAL SECURITIES, LLC. ALL RIGHTS RESERVED &nbsp; | &nbsp; <a href="{{system.unsubscribeLink}}" style="text-decoration: none !important;"><font color="#435363">UNSUBSCRIBE</font></a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>