<mjml>
  <mj-head>
    <mj-attributes>
      <mj-table font-family="gotham, Arial" />
      <mj-button font-family="gotham, Arial" />
      <mj-text font-family="gotham, Arial" color="#3f4450" />
    </mj-attributes>
    <mj-title>Griffin Institutional Access&trade; Real Estate Fund</mj-title>
    <mj-style>
      .link-nostyle{
      	text-decoration: none !important;
      }
      
      @media screen and (max-width: 599px){
      	td[class="header-text"]{
      		height: 60px !important;
      		padding: 0 0 20px 0 !important;
      	}
      }
      @media screen{
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 100;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/light/Gotham-Light.woff) format('woff');
      	}
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 400;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/book/Gotham-Book.woff) format('woff');
      	}
      	@font-face{
      		font-family: 'gotham';
      		font-style: normal;
      		font-weight: 700;
      		src: url(https://griffincapital.bitbucket.io/fonts/gotham/bold/Gotham-Bold.woff) format('woff');
      	}
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-container background-color="#ffffff">
      <mj-section background-color="#5a7f71" full-width="full-width" padding="20 2.5%">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="16"
                   font-weight="700"
                   letter-spacing="2"
                   padding="0">
            GRIFFIN INSTITUTIONAL ACCESS&trade; REAL ESTATE FUND
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#3e5364"
                  background-url="https://griffincapital.bitbucket.io/images/hero/griffin-mark-hero-gcs-bd-background.png "
                  background-repeat="no-repeat"
                  background-size="cover"
                  full-width="full-width"
                  padding="60">
        <mj-column>
          <mj-text align="center"
                   color="#ffffff"
                   font-size="28"
                   font-weight="700"
                   letter-spacing="4"
                   line-height="1"
                   padding="0">
            QUARTERLY DISTRIBUTION ANNOUNCEMENT
          </mj-text>
          </mj-column>
      </mj-section>
      <mj-section full-width="full-width" padding="0">
        <mj-column>
          <mj-text align="center"
                   padding="30 2.5%"
                   font-size="24"
                   letter-spacing="4"
                   color="#5a7f71"
                   line-height="1.35"
                   font-weight="700">
            Griffin Institutional Access Real Estate Fund Announces Second Quarter Distribution
          </mj-text>
          <mj-text padding="20 5% 30 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="16" 
                   line-height="2"
                   letter-spacing="0.8">
            Griffin Capital Company, LLC announced today on behalf of Griffin Institutional Access Real Estate Fund (NASDAQ: GIREX, GCREX, GRIFX, GLREX, GMREX) the second quarter distribution of $0.351 for Class A, $0.347 for Class C, $0.353 for Class I, $0.351 for Class L and $0.350 for Class M, or a 5.22% annualized distribution rate. The distribution will be payable on June 30, 2017 to shareholders of record as of June 22, 2017, with an ex-dividend date of June 23, 2017.
           </mj-text>
        </mj-column>
      </mj-section>
      <mj-section> 
        <mj-column>
      <mj-image src="https://griffincapital.bitbucket.io/images/icons/icon-girex-news.png"
                href="https://www.griffincapital.com/news/2017/griffin-institutional-access-real-estate-fund-announces-second-quarter-distribution"
                padding="0"
                align="center"
                width="100"/>
      <mj-text padding="5 5% 5 5%" 
               align="center" 
               font-size="16" 
               line-height="1.5"
               letter-spacing="0.8">
              <a style="text-decoration:none; color:#5b7f71" href="https://www.griffincapital.com/news/2017/griffin-institutional-access-real-estate-fund-announces-second-quarter-distribution">
              View Full<br>Press Release</a>
           </mj-text>
        </mj-column>
       </mj-section>
      <mj-section>
        <mj-column>
          <mj-button href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/"
                     font-size="14"
                     inner-padding="15 30"
                     padding="0 5%"
                     font-weight="700"
                     background-color="#5a7f71"
                     align="center"
                     border-radius="35">
            <a style="text-decoration:none; color:#ffffff" href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/">LEARN MORE ABOUT THE FUND</a>
          </mj-button>
          <mj-divider padding="30 5% 30 5%" border-width="1" border-color="#5a7f71"></mj-divider>
          <mj-text padding="0 5% 20 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>About Griffin Institutional Access Real Estate Fund</strong><br><br>
           Griffin Institutional Access Real Estate Fund (the "Fund," tickers: GIREX, GCREX, GRIFX, GLREX, GMREX), a closed-end, interval fund registered under the Investment Company Act of 1940, is an actively-managed portfolio of private real estate funds and public real estate securities, diversified by property type and geography, offering daily pricing and periodic liquidity at net asset value. The Fund will make quarterly offers to repurchase between five percent and 25 percent of its outstanding shares at net asset value. The Fund began reporting on NASDAQ on June 30, 2014 with an initial share price of $25.00 and reported a share price of $26.93 for Class A, $26.57 for Class C, $27.06 for Class I, $26.93 for Class L, and $26.85 for Class M as of June 22, 2017. The advisor of the Fund is Griffin Capital Advisor, LLC, a majority owned subsidiary of Griffin Capital Company, LLC.
           </mj-text>
           <mj-text padding="0 5% 15 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>About Griffin Capital Company, LLC</strong><br><br>
            Griffin Capital is a leading alternative investment asset manager with approximately $9 billion* in assets under management. Founded in 1995, the privately-held firm is led by a seasoned team of senior executives with more than two decades of investment and real estate experience and who collectively have executed more than 650 transactions valued at over $22 billion.<br><br>
            The firm manages, sponsors or co-sponsors a suite of carefully curated, institutional quality investment solutions distributed by Griffin Capital Securities, LLC to retail investors through a community of partners, including independent and insurance broker-dealers, wirehouses, registered investment advisory firms and the financial advisors who work with these enterprises.<br><br>
            Additional information is available at <a style="text-decoration:none; color:#000000" href="https://www.griffincapital.com">www.griffincapital.com</a>.
           </mj-text>
           <mj-text padding="0 5% 20 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="10" 
                   line-height="1"
                   letter-spacing="0.5">
            *As of March 31, 2017.
           </mj-text>
           <mj-text padding="0 5% 20 5%" 
                    align="justify" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>Investors should carefully consider the investment objectives, risks, charges and expenses of the Griffin Institutional Access Real Estate Fund (the "Fund"). This and other important information about the Fund is contained in the prospectus, which can be obtained by contacting your financial advisor or visiting <a style="text-decoration:none; color:#000000" href="https://www.griffincapital.com">www.griffincapital.com</a>. The prospectus should be read carefully before investing.</strong>
           </mj-text>
           <mj-text padding="0 5% 20 5%" 
                    align="justify" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>Griffin Institutional Access Real Estate Fund Risk Considerations</strong><br><br>
            As of 5/31/17 the Fund's annualized return since inception for Class A shares was 7.38%. The Fund's inception date was 6/30/14. The total gross expense ratio is 2.42% for Class A, 3.17% for Class C, 2.17% for Class I, 2.67% for Class L, and 2.92% for Class M. Performance data quoted represents past performance. Past performance is no guarantee of future results and investment returns and principal value of the Fund will fluctuate so that shares, when redeemed, may be worth more or less than their original cost. Current performance may be lower or higher than performance data quoted. The maximum sales charge is 5.75% for Class A shares and 4.25% for Class L shares. Class C shareholders may be subject to a contingent deferred sales charge equal to 1.00% of the original purchase price of Class C shares redeemed during the first 365 days after their purchase. The Fund has contractually agreed to waive its fees to the extent that they exceed 1.91% for Class A, 2.66% for Class C, 1.66% for Class I, and 2.41% for Class M until February 1, 2018. The Fund has contractually agreed to waive its fees to the extent that they exceed 2.16% for Class L until May 31, 2018. Without the waiver the expenses would have been higher. The net asset value fund return does not reflect the deduction of all fees and if the fund return reflected the deduction of such fees, the performance would be lower. Visit <a style="text-decoration:none; color:#000000" href="https://www.griffincapital.com">www.griffincapital.com</a> for current performance.
           </mj-text>
          <mj-text padding="0 5% 20 5%" 
                   align="justify" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>Distribution Policy Risk</strong><br><br>
            The Fund's distribution policy is to make quarterly distributions to shareholders. Distribution includes a return of capital (i.e., from your original investment) and not a return of profit. Shareholders should not assume that the source of a distribution from the Fund is net profit. Shareholders should note that return of capital will reduce the tax basis of their shares and potentially increase the taxable gain, if any, upon disposition of their shares. Sources of distributions to shareholders for tax reporting purposes will depend upon the Fund's investment experience during the remainder of its fiscal year and may be subject to changes based on tax regulations. Pursuant to Section 852 of the Internal Revenue Code, the taxability of distributions will be reported on Form 1099-DIV.<br><br>
            The Fund distribution rate is the amount, expressed as a percentage, a Fund investor would receive in distributions if the most recent Fund distribution stayed consistent going forward. It is calculated by annualizing the most recent Fund distribution yield. The percentage represents a single distribution from the Fund and does not represent the total return of the Fund. A copy of the Fund’s distribution statement pursuant to Section 19(a) of the Investment Company Act of 1940 is available at:<br><br><a style="text-decoration:none; color:#000000" href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund/forms-and-literature">www.griffincapital.com/griffin-institutional-access-real-estate-fund/forms-and-literature</a>.<br><br>
            The Fund will not invest in real estate directly, but, because the Fund will concentrate its investments in securities of REITs and other real estate industry issuers, its portfolio will be significantly impacted by the performance of the real estate market and may experience more volatility and be exposed to greater risk than a more diversified portfolio. The value of companies engaged in the real estate industry is affected by: (i) changes in general economic and market conditions; (ii) changes in the value of real estate properties; (iii) risks related to local economic conditions, overbuilding and increased competition; (iv) increases in property taxes and operating expenses; (v) changes in zoning laws; (vi) casualty and condemnation losses; (vii) variations in rental income, neighborhood values or the appeal of property to tenants; (viii) the availability of financing and (ix) changes in interest rates and leverage.<br><br>
            Investors in the Fund should understand that the NAV of the Fund will fluctuate, which may result in a loss of the principal amount invested. The Fund provides liquidity to shareholders quarterly between 5% and 25% of its outstanding shares at net asset value.<br><br>
            Sources of distributions to shareholders for tax reporting purposes will depend upon the Fund's investment experience during the remainder of its fiscal year and may be subject to changes based on tax regulations. Pursuant to Section 852 of the Internal Revenue Code, the taxability of distributions will be reported on Form 1099-DIV.<br><br>
            Griffin Institutional Access Real Estate Fund is distributed by ALPS Distributors, Inc. ALPS Distributors, Inc. is not affiliated with either Griffin Capital or any of its affiliates.<br>
           </mj-text>
           <mj-text padding="20 5% 30 5%" 
                   align="center" 
                   color="#3e5364" 
                   font-size="12" 
                   line-height="1.5"
                   letter-spacing="0.5">
            <strong>Media Contacts</strong><br>
            Jennifer Nahas<br>
            Vice President, Marketing<br>
            Griffin Capital Company, LLC<br>
            949-270-9332<br>
            <a style="text-decoration:none; color:#000000" href="mailto:jnahas@griffincapital.com">jnahas@griffincapital.com</a><br><br>
            Matthew Griffes / Joseph Kuo<br>
            Haven Tower Group LLC<br>
            424 652 6520, ext. 103 / 424 652 6520, ext 101<br>
            <a style="text-decoration:none; color:#000000" href="mailto:mgriffes@haventower.com">mgriffes@haventower.com</a> or <a style="text-decoration:none; color:#000000" href="mailto:jkuo@haventower.com">jkuo@haventower.com</a><br><br>
           </mj-text>
           <mj-text padding="0 5%"
                   align="justify"
                   color="#435363"
                   font-size="11"
                   line-height="1.7"
                   font-weight="700">
            THIS IS NEITHER AN OFFER TO SELL NOR A SOLICITATION OF AN OFFER TO BUY THE SECURITIES DESCRIBED HEREIN. AN OFFERING IS MADE ONLY BY A PROSPECTUS. INVESTORS SHOULD CAREFULLY CONSIDER THE INVESTMENT OBJECTIVES, RISKS, CHARGES AND EXPENSES OF GRIFFIN INSTITUTIONAL ACCESS REAL ESTATE FUND. THIS AND OTHER IMPORTANT INFORMATION ABOUT THIS INVESTMENT IS CONTAINED IN THE PROSPECTUS, WHICH CAN BE OBTAINED BY VISITING <a style="text-decoration:none; color:#000000" href="https://WWW.GRIFFINCAPITAL.COM">WWW.GRIFFINCAPITAL.COM</a>. A PROSPECTUS SHOULD BE READ CAREFULLY BEFORE INVESTING IN ANY PRODUCT.
          </mj-text>
          <mj-text padding="20 5%"
                   align="justify"
                   color="#435363"
                   font-size="11"
                   line-height="1.7">
            An investment in the fund involves risk, including loss of principal.
            <br/><br/>
            Diversification does not eliminate the risk of experiencing investment losses.
            <br/><br/>
            There is no assurance the stated objective will be met. There is no assurance that the investment process will consistently lead to successful investing.
            <br/><br/>
            By "Invest Like an Institution," we mean that Griffin Institutional Access Real Estate Fund enables individuals to invest in an investment structure (a combination of private real estate funds and public real estate securities) frequently chosen by institutions, large and small, as their preferred structure for real estate investments. We also mean the Fund is managed by sub-advisers who only advise institutions. Finally, we mean that investors in this Fund invest alongside numerous institutions such as pension funds and insurance companies; a portion of their dollars are invested in the same private equity real estate funds as those owned by institutions.
          </mj-text>
          <mj-image padding="0" width="120" href="https://www.griffincapital.com/advisors"
                    src="https://griffincapital.bitbucket.io/images/logos/gcs.png" />
          <mj-text padding="20 0"
                   align="center"
                   color="#435363"
                   font-size="11"
                   line-height="1.3"
                   font-weight="700">
            Griffin Capital Securities, LLC<br/>
            18191 Von Karman Avenue, Suite 300<br/>
            Irvine, CA 92612
          </mj-text>
          <mj-text padding="0 5% 20 5%"
                   align="justify"
                   color="#435363"
                   font-size="11"
                   line-height="1.7">
            Griffin Capital Securities, LLC is the exclusive wholesale marketing agent for the Griffin Institutional Access Real Estate Fund. ALPS Distributors, Inc.(1290 Broadway, Suite 1100, Denver, CO 80203, Member FINRA) is the distributor of the Griffin Institutional Access Real Estate Fund. Griffin Capital and ALPS Distributors, Inc., are not affiliated with each other.
            <br/><br/>
            IU-GI788 (062317) | GFC000598 | Exp. 06.30.18 | GX-IU3270 (0617)
          </mj-text>
          <mj-divider padding="0 5%" border-width="1" border-color="#5a7f71"></mj-divider>
          <mj-text padding="40 5%"
                   align="center"
                   color="#435363"
                   font-size="10"
                   letter-spacing="1"
                   line-height="1.8">
            &copy; 2017 GRIFFIN CAPITAL SECURITIES, LLC. ALL RIGHTS RESERVED &nbsp; | &nbsp; <a href="{{system.unsubscribeLink}}" style="text-decoration: none !important;"><font color="#435363">UNSUBSCRIBE</font></a>
          </mj-text>
        </mj-column>
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>