<mjml>
    <mj-head>
        <mj-attributes>
            <mj-text color="#3f4450" />
        </mj-attributes>
        <mj-title>Weekly Marketing Update</mj-title>
        <mj-style>
            .link-nostyle {
            text-decoration: none !important;
            }

            @media screen and (max-width: 599px) {
            td[class="header-text"] {
            height: 60px !important;
            padding: 0 0 20px 0 !important;
            }

            td[class="download-link"] {
            text-align:center !important;
            }
            }

            @media screen {
            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 100;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/light/Gotham-Light.woff) format('woff');
            }

            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 400;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/book/Gotham-Book.woff) format('woff');
            }

            @font-face {
            font-family: 'gotham';
            font-style: normal;
            font-weight: 700;
            src: url(https://griffincapital.bitbucket.io/fonts/gotham/bold/Gotham-Bold.woff) format('woff');
            }
            }
        </mj-style>
        <mj-attributes>
            <mj-table font-family="gotham, Arial, san-serif" />
            <mj-text font-family="gotham, Arial, san-serif" />
        </mj-attributes>
    </mj-head>
    <mj-body>
        <mj-container background-color="#ffffff">
            <mj-section padding="0" background-color="#314b58">
                <mj-column width="100" background-color="#ff6700">
                    <mj-image src="https://griffincapital.bitbucket.io/images/logos/griffin-bug.png"
                              width="100px"
                              padding="0"
                              href="https://www.griffincapital.com"/>
                </mj-column>
                <mj-column width="100" background-color="#6d6e72">
                    <mj-table padding="0">
                        <tr style="padding: 0;">
                            <td valign="middle"
                                align="center"
                                height="100"
                                style="padding: 0; height: 100px; font-size:16px; color:#ffffff; font-weight:700; line-height:20px;">
                                <span style="font-weight:400">Griffin Capital</span> Marketing
                            </td>
                        </tr>
                    </mj-table>
                </mj-column>
                <mj-column width="400">
                    <mj-table padding="0">
                        <tr style="padding: 0;">
                            <td valign="middle"
                                align="center"
                                height="100"
                                style="padding: 0; height: 100px; font-size:30px; color:#ffffff; font-weight:400; line-height:30px">
                                MARKETING RECAP
                            </td>
                        </tr>
                    </mj-table>
                </mj-column>
            </mj-section>
            <mj-section padding="0">
                <mj-column>
                    <mj-text font-weight="700"
                             color="#ff0000"
                             padding="20 10 5 10"
                             align="center"
                             font-size="16px">
                        FOR GCS INTERNAL USE ONLY
                    </mj-text>
                    <mj-text padding="5 0 20 0"
                             align="center"
                             font-size="12px">
                        For questions regarding any of the updates below, contact Debi Sambuchi at 310-469-6114.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/peco-with-tagline-box.png"
                              alt="PECO"
                              padding="4"
                              width="200"
                              height="67"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-peco-webinar.png"
                              alt="PECO3"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                        Webinar Invitation: Product Introduction
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> PECO III Series 7 advisors (including Advisor Group) and RIAs who sold PECO I and II
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Details:</span> Mark Addy to host webinar on June 6th.
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/May26/PECOIII-webinar.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/gahr4.png"
                              href="https://www.griffincapital.com/griffin-american-healthcare-reit-iv"
                              alt="GAHR4"
                              padding="4"
                              width="200"
                              height="69"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-gahr-document.png"
                              alt="GAHR4"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                            Q1 2017 Investor Update
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> Investors
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/Healthcare%20REIT%20IV/Marketing%20Materials/Investor%20Kit/Property%20and%20Investor%20Forms/GAHR4-Q117-InvestorUpdate.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download Investor Update
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/GAHR-Q117updates.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/girex.png"
                              href="https://www.griffincapital.com/griffin-institutional-access-real-estate-fund"
                              alt="Real Estate Fund"
                              padding="0"
                              width="120"
                              height="61"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-girex-document.png"
                              alt="Real Estate Fund"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                            Brochure
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> Investors (excluding Morgan Stanley advisors/investors)
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Details:</span> Updated with year-end data.
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/GIREX/Marketing%20Materials/Investor%20Kit/GIREX_Brochure.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download Brochure
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/RealEstateFund-Brochure.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-girex-document.png"
                              alt="Real Estate Fund"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                        Semi-Annual Report
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> Investors 
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Details:</span> Printed copies to be sent by ALPS to each Fund shareholder. Also available in Forms and Literature, Advisor Toolbox and Employee Portal.
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/GIREX/Marketing%20Materials/Investor%20Kit/GIREX-SemiAnnualReport.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download Semi-Annual Report
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/RealEstateFund-semiannualreport.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                   </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/gahr3.png"
                              href="https://www.griffincapital.com/griffin-american-healthcare-reit-iii"
                              alt="GAHR4"
                              padding="4"
                              width="200"
                              height="39"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-gahr-news.png"
                              alt="GAHR3"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                            Q1 2017 Investor Update
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> Investors
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/Healthcare%20REIT%20III/Marketing%20Materials/Investor%20Kit/Prospectus%20and%20Investor%20Forms/GAHR3-Q117-InvestorUpdate.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download Investor Update
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/GAHR-Q117updates.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/peco-i.png"
                              alt="PECO1"
                              padding="4"
                              width="150"
                              height="78"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-peco-email.png"
                              alt="PECO"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                        PECO I PELP Acquisition Talking Points
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> Wholesalers, National Accounts
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/FINAL Talking Points_Pegasus[2].pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download Talking Points
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/PECOI-TalkingPoints.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="100">
                    <mj-image src="http://griffincapital.bitbucket.io/images/icons/icon-peco-email.png"
                              alt="PECO"
                              padding="0"
                              width="64"/>
                </mj-column>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="16px"
                             font-weight="700">
                        PECO I DRP Update
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             line-height="14px"
                             font-size="12px">
                        <span style="font-weight:700;">
                            Audience:</span> PECO financial advisors
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/REIT ONE DRP Update 5-30-17 Advisors.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            Download DRP Update
                        </font></a>
                    </mj-text>
                    <mj-text padding="0 10 5 10"
                             font-weight="700"
                             font-size="12px">
                        <a href="https://www.griffincapital.com/Documents/EmailPDFs/June2/PECOI-DRP.pdf"
                           style="color:#006fd1;"><font color="#006fd1">
                            View Original Email as PDF
                        </font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#cccccc">
                <mj-column>
                    <mj-image src="http://griffincapital.bitbucket.io/images/logos/giacx.png"
                              href="https://www.griffincapital.com/griffin-institutional-access-credit-fund"
                              alt="Credit Fund"
                              padding="0"
                              width="120"
                              height="61"/>
                </mj-column>
            </mj-section>
            <mj-section>
                <mj-column width="500">
                    <mj-text padding="0 10 5 10"
                             font-size="12px"
                             font-weight="400">
                        No updates this week.
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="0">
                <mj-column>
                    <mj-text font-weight="700"
                             color="#ff0000"
                             padding="0 0 45 0"
                             align="center"
                             font-size="16px">
                        FOR GCS INTERNAL USE ONLY
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section padding="0 30">
                <mj-column>
                    <mj-text color="#ffffff" font-size="10px" line-height="14px" align="center">
                        <a class="mktNoTrack link-nostyle" href="{{system.unsubscribeLink}}" style="color:#3f4450 !important;"><font color="#3f4450">Unsubscribe</font></a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-container>
    </mj-body>
</mjml>