<mjml>

  <!-- HEADER -->

  <mj-head>
    <mj-title>ClearAg Newsletter – November 2017</mj-title>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=roboto:300,500" />

    <mj-attributes>
      <mj-all font-family="Roboto, Helvetica, sans-serif" />
      <mj-text font-weight="300" font-size="16" color="#616161" line-height="24px" />
      <mj-section padding="0" full-width />

      <mj-accordion border="none" padding="1px" />
      <mj-accordion-element icon-wrapped-url="http://i.imgur.com/Xvw0vjq.png" icon-unwrapped-url="http://i.imgur.com/KKHenWa.png" icon-height="24px" icon-width="24px" />
      <mj-accordion-title font-family="Roboto, Open Sans, Helvetica, Arial, sans-serif" background-color="#fff" color="#031017" padding="15px" font-size="18px" />
      <mj-accordion-text font-family="Open Sans, Helvetica, Arial, sans-serif" background-color="#fafafa" padding="15px" color="#505050" font-size="14px" />
    </mj-attributes>
  </mj-head>

  <!-- BODY START -->

  <mj-body>
    <mj-container>
      
      <!-- UPPER TAGLINE -->

      <mj-section>
        <mj-column width="80%">
          <mj-text align="center" font-size="9px" line-height="12px">
            All your essential agriculture news and event updates from Iteris. <a href="{{system.viewAsWebpageLink}}" style="text-decoration: underline; color: #cccccc">view in browser</a> | <a href="{{system.viewAsWebpageLink}}" style="text-decoration: underline; color: #cccccc">forward</a>
          </mj-text>
      </mj-section>

      <!-- HERO -->

      <mj-hero mode="fluid-height" background-width="600px" background-height="200px" background-url="https://iterismarketing.bitbucket.io/images/photos/november17/ag-header-600.png" background-color="#2a3448" padding="60 0">
        <mj-hero-content width="600px">
          <mj-image align="center" width="200px" src="https://iterismarketing.bitbucket.io/images/logos/ClearAg_Logo_WHITE.png" />
          <mj-text padding="0" color="#ffffff" font-family="Helvetica" align="center" font-size="20" letter-spacing="8px" line-height="25px" font-weight="200">
            NEWS & EVENTS
          </mj-text>
        </mj-hero-content>
      </mj-hero>

      <!-- ORIGINAL HERO 
      
      <mj-section padding="0">
        <mj-column width="100%">
          <mj-image href="https://www.iteris.com" src="https://iterismarketing.bitbucket.io/images/heros/newsletter-header3.png" />
        </mj-column>
      </mj-section>

-->

      <!-- DATE 
      
      <mj-section>
        <mj-column width="100%">
          <mj-text align="center" letter-spacing="2px" font-weight="700" font-size="15px">
            NOVEMBER 2017
          </mj-text>
        </mj-column>
      </mj-section>

-->

      <!-- LETTER -->

      <mj-section>
        <mj-column width="80%">
          <mj-text>
            <p>Dear Ag-thusiast,</p>
            <p>Welcome to the redesigned and revamped bi-weekly Iteris ClearAg newsletter.
            </p>
            <p>Thanks also to everyone we engaged with at the PrecisionAg Vision Conference in Phoenix last month – we really enjoyed having such an energetic debate on the future of ag tech in the industry.</p>
            <p>But without further ado, let's dive into this month's ClearAg updates!</p>
            <p>Signing off:</p>
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- SIGNATURE -->

      <mj-section>
        <mj-column width="25%">
          <mj-image align="left" width="100px" href="https://www.linkedin.com/in/jeff-keiser-32bb243/" src="https://iterismarketing.bitbucket.io/images/headshots/jeffkeiser-headshot.jpg" />
        </mj-column>
        <mj-column width="55%">
          <mj-text padding="20 20 0 25">
            <p style="line-height: 9px; font-weight:bold;">
              Jeff Keiser
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              VP Strategic Sales & Marketing
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              Agriculture & Weather Analytics
            </p>

          </mj-text>
        </mj-column>
      </mj-section>
        
        
        
      <!-- DIVIDER -->

      <mj-section>
        <mj-column width="80%">
          <mj-divider border-width="1px" border-color="#E0E0E0" />
        </mj-column>
      </mj-section>

      <!-- INDUSTRY NEWS HEADER -->

      <mj-section>
        <mj-column width="80%">
          <mj-text
          		align="left" 
          		font-weight="700" 
          		font-size="26px" 
          		color="#7eb341">
          		INDUSTRY NEWS
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- MAIN NEWS SECTION -->

      <!-- MAIN NEWS ITEM 1 -->

        
      <mj-section>
        <mj-column width="80%">
          <mj-image href ="http://www.forbes.com/sites/quora/2016/09/23/what-are-the-differences-between-ai-machine-learning-nlp-and-deep-learning/#4f981bbb36f0" src="https://iterismarketing.bitbucket.io/images/photos/november17/worldagritech-johnlord2-600.png"
          />
        </mj-column>
        <mj-column width="80%" background-color="#ffffff">
          <mj-text 
          		font-weight="200" 
          		font-size="26px" 
          		line-height="36px"
          		align="left">
          		What Do Blockchain and Ag Have in Common?
          </mj-text>
          <mj-text>
          Iteris' UK Ag specialist John Lord was in attendance at the World Agri-Tech Innovation Summit in London last month, where he highlighted blockchain technology's use in agriculture. 
          </mj-text>
          
          <mj-button 
          		vertical-align="middle" 
          		font-family="Helvetica" 
          		background-color="#7eb341" 
          		color="white"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="https://www.iteris.com/blog/liveblog-its-world-congress-2017">
          		WATCH VIDEO
          </mj-button>
          
        </mj-column>
      </mj-section>
        
        
      <!-- MAIN NEWS ITEM 2 -->

      <mj-section>
        <mj-column width="80%">
          <mj-image href ="http://www.forbes.com/sites/quora/2016/09/23/what-are-the-differences-between-ai-machine-learning-nlp-and-deep-learning/#4f981bbb36f0" src="https://iterismarketing.bitbucket.io/images/photos/november17/threeways.png"
          />
          <mj-text 
          		font-weight="200" 
          		font-size="26px" 
                   line-height="36px"
          		align="left">
          		Three Ways to Reduce Grain Losses at Harvest Time
          </mj-text>
          <mj-text>
          Jeff Keiser outlines the questions that each harvest inevitably poses for farmers and their advisors. 
          </mj-text>
          
          <mj-button 
          		vertical-align="middle" 
          		font-family="Helvetica" 
          		background-color="#7eb341" 
          		color="white"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="https://www.iteris.com/blog/3-ways-reduce-grain-losses-harvest-time">
          		READ FULL ARTICLE
          </mj-button>
        </mj-column>
      </mj-section>

      <!-- QUICK NEWS SECTION -->

      <!-- DIVIDER -->

      <mj-section>
        <mj-column width="80%">
          <mj-divider border-width="1px" border-color="#E0E0E0" />
        </mj-column>
      </mj-section>

      <!-- PRODUCT NEWS HEADER -->

      <mj-section>
        <mj-column width="80%">
          <mj-text align="left" font-weight="700" font-size="26px" color="#7eb341">
            PRODUCT NEWS
          </mj-text>
        </mj-column>
      </mj-section>

      <!-- NEWS ITEM 1 -->

      <mj-section>
        <mj-column width="40%">
          <mj-text
          font-weight="700"
          font-size="18px">
           WeatherPlot: App Update
          </mj-text>
          <mj-text>
           ClearAg's weather and soil data performance application has a new software update.
          </mj-text>
          <mj-text>
           <a href="http://mkt.clearag.com/K00p4DC00xXx0F1O700i0I0" style="text-decoration: underline; color: #7eb341; font-weight: 700;">Update Now</a>
          </mj-text>
        </mj-column>

        <mj-column width="40%">
          <mj-image align="left" width="200" href="https://www.iteris.com/products/detection-sensors/vantage-radius" src="https://iterismarketing.bitbucket.io/images/photos/november17/weather-plot.png" />
        </mj-column>
      </mj-section>

      <!-- NEWS ITEM 2 -->

      <mj-section>
        <mj-column width="40%">
          <mj-text
          font-weight="700"
          font-size="18px">
           Grain Moisture: What's It Good For?
          </mj-text>
          <mj-text>
					A recording of our latest webinar is now available for on-demand viewing.
          </mj-text>
          <mj-text>
           <a href="http://mkt.clearag.com/K00p4DC00xXx0F1O700i0I0" style="text-decoration: underline; color: #7eb341; font-weight: 700;">Watch Now</a>
          </mj-text>
        </mj-column>

        <mj-column width="40%">
          <mj-image align="left" width="200" href="https://www.iteris.com" src="https://iterismarketing.bitbucket.io/images/photos/november17/grain.png" />
        </mj-column>
      </mj-section>

      <!-- NEWS ITEM 3 -->

      <mj-section>
        <mj-column width="40%">
          <mj-text
          font-weight="700"
          font-size="18px">
           Stay Connected
          </mj-text>
          <mj-text>
           Help receive the news you want to receive by reconfirming your subscription preferences.
          </mj-text>
          <mj-text>
           <a href="http://mkt.clearag.com/K00p4DC00xXx0F1O700i0I0" style="text-decoration: underline; color: #7eb341; font-weight: 700;">Confirm / Update</a>
          </mj-text>
        </mj-column>

        <mj-column width="40%">
          <mj-image align="left" width="200" href="https://www.iteris.com" src="https://iterismarketing.bitbucket.io/images/photos/november17/subscription.png" />
        </mj-column>
      </mj-section>
      
      <!-- DIVIDER -->

      <mj-section>
        <mj-column width="80%">
          <mj-divider border-width="1px" border-color="#E0E0E0" />
        </mj-column>
      </mj-section>
        
      <!-- EVENT HEADER -->

      <mj-section background-color="#ffffff" padding="20 0 20 0">
        <mj-column width="80%">
          <mj-text align="left" font-weight="700" font-size="26px" color="#7eb341">
            UPCOMING EVENTS
          </mj-text>
        </mj-column>

      <!-- EVENTS ITEM 1 -->

        <mj-column width="40%">
          
          <mj-text padding="10 10 0 25">
            <p style="line-height: 16px; font-weight:bold;">
              PrecisionAg Vision Conference
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              October 10-12, 2017 
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              Phoenix, AZ
            </p>
          </mj-text>
          
          <mj-button 
          		vertical-align="middle"
          		align="left"
          		background-color="#cccccc" 
          		color="#ffffff"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="http://mkt.clearag.com/o00Ci00KX0007D04OIC1px0">
          		Register Now
          </mj-button>
          
        </mj-column>

      <!-- EVENTS ITEM 2 -->
    
        <mj-column width="40%">
          
          <mj-text padding="10 10 0 25">
            <p style="line-height: 16px; font-weight:bold;">
              World Agri-Tech Innovation Summit
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              October 17-18, 2017 
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              London, UK
            </p>
          </mj-text>
          
          <mj-button 
          		vertical-align="middle"
          		align="left"
          		background-color="#cccccc" 
          		color="#ffffff"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="http://mkt.clearag.com/o00Ci00KX0007D04OIC1px0">
          		Register Now
          </mj-button>
          
        </mj-column>
  
      <!-- EVENTS ITEM 3 -->
  
        <mj-column width="40%">
          
          <mj-text padding="10 10 0 25">
            <p style="line-height: 16px; font-weight:bold;">
              AgGateway Annual Meeting
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              November 6-9, 2017 
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              San Diego, CA
            </p>
          </mj-text>
          
          <mj-button 
          		vertical-align="middle"
          		align="left"
          		background-color="#cccccc" 
          		color="#ffffff"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="http://mkt.clearag.com/o00Ci00KX0007D04OIC1px0">
          		Register Now
          </mj-button>

        </mj-column>

      <!-- EVENTS ITEM 4 -->

        <mj-column width="40%">
          
          <mj-text padding="10 10 0 25">
            <p style="line-height: 16px; font-weight:bold;">
              Irrigation Show & Education Conf 2017
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              November 6-10, 2017 
            </p>
            <p style="color:#BDBDBD; line-height: 9px">
              Orlando, FL
            </p>
          </mj-text>
          
          <mj-button 
          		vertical-align="middle"
          		align="left"
          		background-color="#cccccc" 
          		color="#ffffff"
          		font-size="14px"
          		font-weight="700"
          		padding-bottom="40"
          		border-radius="4px"
            	href="http://mkt.clearag.com/o00Ci00KX0007D04OIC1px0">
          		Register Now
          </mj-button>

        </mj-column>
        
      </mj-section>

       
      <!-- IMAGE GALLERY 
      
      <mj-section>
        <mj-column width="100%">
          <mj-text align="center" font-weight="700" font-size="26px" color="#29abe2">
            IMAGE GALLERY
          </mj-text>
        </mj-column>
      </mj-section>

      
      <mj-section>
        <mj-column>
          <mj-carousel>
            <mj-carousel-image src="https://www.mailjet.com/wp-content/uploads/2016/11/ecommerce-guide.jpg" />
            <mj-carousel-image src="https://www.mailjet.com/wp-content/uploads/2016/09/3@1x.png" />
            <mj-carousel-image src="https://www.mailjet.com/wp-content/uploads/2016/09/1@1x.png" />
          </mj-carousel>
        </mj-column>
      </mj-section>

-->

        
      <!-- ACCORDIAN

      <mj-section padding="20px" background-color="#ffffff">
        <mj-column background-color="#dededd">
          <mj-accordion>
            <mj-accordion-element>
              <mj-accordion-title>Why use an accordion?</mj-accordion-title>
              <mj-accordion-text>
                <span style="line-height:20px">Because emails with a lot of content are most of the time a very bad experience on mobile, mj-accordion comes handy when you want to deliver a lot of information in a concise way.
                  </span>
              </mj-accordion-text>
            </mj-accordion-element>
            <mj-accordion-element>
              <mj-accordion-title>How it works</mj-accordion-title>
              <mj-accordion-text>
                <span style="line-height:20px">
                Content is stacked into tabs and users can expand them at will. If responsive styles are not supported (mostly on desktop clients), tabs are then expanded and your content is readable at once.</span>
              </mj-accordion-text>
            </mj-accordion-element>
          </mj-accordion>
        </mj-column>
      </mj-section>

 -->

      <!-- FOOTER -->

      <mj-section 
                   background-color="#322d2d"
                   padding="40 0"
                   >
      
      <!-- SOCIAL -->

        <mj-column width="60%">
          <mj-text 
                   align="center" 
                   padding="0" 
                   font-size="10" 
                   color="#cccccc"
                   letter-spacing="4px">
                   CONNECT WITH US</mj-text>
          <mj-table padding="10 0" align="center" width="80%">
            <tr style="list-style: none;line-height:1">
              <td>
                <a href="https://twitter.com/iteris_clearag">
                  <img width="35" src="https://iterismarketing.bitbucket.io/images/icons/twitter-icon.png" />
                </a>
              </td>
              <td>
                <a href="https://www.facebook.com/IterisClearAg">
                  <img width="35" src="https://iterismarketing.bitbucket.io/images/icons/facebook-icon.png" />
                </a>
              </td>
              <td>
                <a href="https://www.linkedin.com/showcase/iteris-clearag/">
                  <img width="35" src="https://iterismarketing.bitbucket.io/images/icons/linkedin-icon.png" />
                </a>
              </td>
              <td>
                <a href="https://www.youtube.com/channel/UCfmVambsJTfMSCen7FsMOdQ">
                  <img width="35" src="https://iterismarketing.bitbucket.io/images/icons/youtube-icon.png" />
                </a>
              </td>
              <td>
                <a href="https://medium.com/iteris">
                  <img width="35" src="https://iterismarketing.bitbucket.io/images/icons/medium-icon.png" />
                </a>
              </td>
            </tr>
          </mj-table>
        </mj-column>

      <!-- DIVIDER -->

        <mj-column width="60%">
          <mj-divider border-width="1px" border-color="#cccccc" />
        </mj-column>

      <!-- LOGO -->

        <mj-column width="80%">
          <mj-image align="center" width="100px" href="https://www.iteris.com" src="https://iterismarketing.bitbucket.io/images/logos/iteris-gray-500.png" />
        </mj-column>
        

      <!-- ADDRESS -->

        <mj-column width="80%">
          <mj-text color="#cccccc" align="center" font-size="11px" padding="0" line-height="14px" letter-spacing="2px">1700 Carnegie Avenue, Suite 1005</mj-text>
          <mj-text color="#cccccc" align="center" font-size="11px" padding="0" line-height="14px" letter-spacing="2px">Santa Ana CA 92705</mj-text>
          <mj-text color="#cccccc" align="center" font-size="10px" padding="5">Copyright © 2017 Iteris, Inc., All rights reserved.</mj-text>
          <mj-text color="#cccccc" align="center" font-size="10px" line-height="10px"><a href="{{system.forwardToFriendLink}}" style="text-decoration: underline; color: #cccccc">forward this email</a> | <a href="{{system.unsubscribeLink}}" style="text-decoration: underline; color: #cccccc">unsubscribe</a></mj-text>
        </mj-column>
      </mj-section>

  <!-- BODY END -->
			
    </mj-container>
  </mj-body>
</mjml>